node-red/flows.json
[
  {
    "id": "f1a2b3c4d5e6f701",
    "type": "tab",
    "label": "Motor Vibration Flow",
    "disabled": false,
    "info": "Real-time motor vibration monitoring dashboard flow"
  },
  {
    "id": "ui_tab_motor_monitor",
    "type": "ui_tab",
    "name": "Motor Monitor",
    "icon": "dashboard",
    "disabled": false,
    "hidden": false
  },
  {
    "id": "ui_group_motor_data",
    "type": "ui_group",
    "name": "Vibration Metrics",
    "tab": "ui_tab_motor_monitor",
    "order": 1,
    "disp": true,
    "width": "12",
    "collapse": false,
    "className": ""
  },
  {
    "id": "ui_group_motor_status",
    "type": "ui_group",
    "name": "Fault Status",
    "tab": "ui_tab_motor_monitor",
    "order": 2,
    "disp": true,
    "width": "12",
    "collapse": false,
    "className": ""
  },
  {
    "id": "mqtt_broker_mosquitto",
    "type": "mqtt-broker",
    "name": "Mosquitto Local",
    "broker": "mosquitto",
    "port": "1883",
    "clientid": "",
    "autoConnect": true,
    "usetls": false,
    "protocolVersion": "4",
    "keepalive": "60",
    "cleansession": true,
    "birthTopic": "",
    "birthQos": "0",
    "birthRetain": "false",
    "birthPayload": "",
    "closeTopic": "",
    "closeQos": "0",
    "closeRetain": "false",
    "closePayload": "",
    "willTopic": "",
    "willQos": "0",
    "willRetain": "false",
    "willPayload": "",
    "sessionExpiry": ""
  },
  {
    "id": "mqtt_in_data",
    "type": "mqtt in",
    "z": "f1a2b3c4d5e6f701",
    "name": "Vibration Data",
    "topic": "sensors/group01/motor-vibration/data",
    "qos": "0",
    "datatype": "auto",
    "broker": "mqtt_broker_mosquitto",
    "nl": false,
    "rap": true,
    "rh": 0,
    "inputs": 0,
    "x": 170,
    "y": 100,
    "wires": [["json_data_parser"]]
  },
  {
    "id": "json_data_parser",
    "type": "json",
    "z": "f1a2b3c4d5e6f701",
    "name": "Parse Data JSON",
    "property": "payload",
    "action": "",
    "pretty": false,
    "x": 390,
    "y": 100,
    "wires": [["extract_vibration", "prepare_gauge"]]
  },
  {
    "id": "extract_vibration",
    "type": "function",
    "z": "f1a2b3c4d5e6f701",
    "name": "Extract for Chart",
    "func": "msg.payload = Number(msg.payload.vibration || 0);\nmsg.topic = 'Vibration (g)';\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 610,
    "y": 80,
    "wires": [["ui_chart_vibration"]]
  },
  {
    "id": "prepare_gauge",
    "type": "function",
    "z": "f1a2b3c4d5e6f701",
    "name": "Extract for Gauge",
    "func": "msg.payload = Number(msg.payload.vibration || 0);\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 610,
    "y": 120,
    "wires": [["ui_gauge_intensity"]]
  },
  {
    "id": "ui_chart_vibration",
    "type": "ui_chart",
    "z": "f1a2b3c4d5e6f701",
    "name": "Vibration (g)",
    "group": "ui_group_motor_data",
    "order": 1,
    "width": "12",
    "height": "6",
    "label": "Vibration (g)",
    "chartType": "line",
    "legend": "false",
    "xformat": "HH:mm:ss",
    "interpolate": "linear",
    "nodata": "Waiting for data",
    "dot": false,
    "ymin": "0",
    "ymax": "2.5",
    "removeOlder": "60",
    "removeOlderPoints": "",
    "removeOlderUnit": "1",
    "cutout": "0",
    "useOneColor": false,
    "useUTC": false,
    "colors": ["#1f77b4", "#aec7e8", "#ff7f0e"],
    "outputs": 1,
    "useDifferentColor": false,
    "className": "",
    "x": 840,
    "y": 80,
    "wires": [[]]
  },
  {
    "id": "ui_gauge_intensity",
    "type": "ui_gauge",
    "z": "f1a2b3c4d5e6f701",
    "name": "Intensity Gauge",
    "group": "ui_group_motor_data",
    "order": 2,
    "width": "6",
    "height": "4",
    "gtype": "gage",
    "title": "Intensity",
    "label": "g",
    "format": "{{value}}",
    "min": "0",
    "max": "2",
    "colors": ["#00b500", "#e6a600", "#ca3838"],
    "seg1": "0.6",
    "seg2": "1.0",
    "diff": false,
    "className": "",
    "x": 840,
    "y": 130,
    "wires": []
  },
  {
    "id": "mqtt_in_alert",
    "type": "mqtt in",
    "z": "f1a2b3c4d5e6f701",
    "name": "Alert Status",
    "topic": "alerts/group01/motor-vibration/status",
    "qos": "0",
    "datatype": "auto",
    "broker": "mqtt_broker_mosquitto",
    "nl": false,
    "rap": true,
    "rh": 0,
    "inputs": 0,
    "x": 170,
    "y": 220,
    "wires": [["json_alert_parser"]]
  },
  {
    "id": "json_alert_parser",
    "type": "json",
    "z": "f1a2b3c4d5e6f701",
    "name": "Parse Alert JSON",
    "property": "payload",
    "action": "",
    "pretty": false,
    "x": 390,
    "y": 220,
    "wires": [["format_status_html"]]
  },
  {
    "id": "format_status_html",
    "type": "function",
    "z": "f1a2b3c4d5e6f701",
    "name": "Format Status HTML",
    "func": "const status = String(msg.payload.status || 'NORMAL');\nif (status === 'FAULT') {\n    msg.payload = '<span style=\"color:#ca3838;font-weight:bold;\">⚠ FAULT DETECTED</span>';\n} else {\n    msg.payload = '<span style=\"color:#00b500;font-weight:bold;\">✔ NORMAL</span>';\n}\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 620,
    "y": 220,
    "wires": [["ui_text_status"]]
  },
  {
    "id": "ui_text_status",
    "type": "ui_text",
    "z": "f1a2b3c4d5e6f701",
    "group": "ui_group_motor_status",
    "order": 1,
    "width": "12",
    "height": "2",
    "name": "Status Display",
    "label": "System Status",
    "format": "{{msg.payload}}",
    "layout": "row-spread",
    "className": "",
    "x": 840,
    "y": 220,
    "wires": []
  }
]
